.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.navbar{
  background-color:#102542;
}

.nav-link{
  color: #fff !important;
}

.baner-top{
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.first-pic{
  background-color: #102542;
  background-position: center;
  padding: 150px 0;
  border-radius: 25px;
  width: 90%;
  height: 30%;
}
.btn-35{
  margin-bottom: 260px;
  margin-left: 90px;
  background-color: #102542;
  border: none;
  color: white;
  font-size: 20px;
  &:hover{
  background-color: #102542;
  border: none;
  color: white;
  font-size: 25px;
  }
}

.banner-h1 {
  margin-left: 10px;
  z-index: 100;
  position: relative;
  grid-area: 1 / 1 / 2 / 4;
  font-size: 35px !important;
  margin-top: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}// Specific CSS for your home-page

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#formContent {
  margin-top: 30px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: left;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid white;
  padding: 10px;
}

.grid-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}
.big1 {
  grid-area: 3 / 1 / 4 / 4;
  background-color: #102542;
  border-radius: 25px;
  height: 160px;
  display: flex;
  justify-content: space-around;
}
.mp34 {
  width: 500px;
  input {
    border-radius: 25px;
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));

  }
}

.mp37 {
  width: 20px;
  background-color: none;
  transform: rotate(180deg);
  align-items: center;

  input {
    border-radius: 25px;
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));
    color: white !important;
  }
}
.btn-34 {
  background-color: white;
  border: none;
  color: #102542;
  font-size: 20px;
  &:hover{
  background-color: white;
  border: none;
  color: #102542;
  font-size: 25px;
  }
}
.mpr2{

  transform: rotate(180deg);

}
.btn-37 {
  background-color: #102542;
  border: none;
  color: #f87060;
  font-size: 20px;
  position: absolute;
  top: -18px;
  left: 70px;
  transition: 300ms linear;
  transform: rotate(180deg);

  &:hover{
  background-color: #102542;
  border: none;
  color: #f87060;
  transform: scale(1.2);
  }
}

.img-37{
  z-index: 10;
  height: 200px;
}
.img-38{
  z-index: 10;
  height: 200px;
}
.btn-38 {
  background-color: #102542;
  border: none;
  color: #f87060;
  font-size: 20px;
  transform: rotate(180deg);
  position: absolute;
  top: -18px;
  left: 70px;
  transition: 300ms linear;

  &:hover{
  background-color: #102542;
  border: none;
  color: #f87060;
  transform: scale(1.2);
  }
}
.m2 {
  grid-area: 3 / 2 / 4 / 4;
  background-color: #CDD7D6;
  border-radius: 25px;
 }
.d43v {
  grid-area: 1 / 1 / 3 / 3;
}
.b1g2 {
  grid-area: 1 / 3 / 4 / 4;
  background-color: #102542;
  border-radius: 25px;
}
.m4 {
  grid-area: 2 / 3 / 4 / 4;
  background-color: #B3A394;
  border-radius: 25px;
}
.f3 {
  grid-area: 2 / 2 / 3 / 4;
  background-color: #f87060;
  border-radius: 25px;
 }
.tp3s {
  background-color: #f87060;
  height: 250px;
  margin-top: 10px;
  border-radius: 25px;
  width: 260px;
  margin-bottom: 20px;

}


.fb23 {
  display: flex;
  margin-top: 30px;

}

.fb1 {
  background-color: #f87060;
  border-radius: 30px;
  width: 100%;
  height: 200px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.fb2 {
  border-radius: 25px;
  width: 100%;
  display: flex;
  align-items: center;

}

#triangle {
  z-index: 100;
  position: relative;
  width: 0;
  height: 0;
  border-top: 80px solid transparent;
  border-right: 160px solid #102542;
  border-bottom: 80px solid transparent;
  transform: rotate(180deg);
  margin-left: 80px;
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));

}

.fb3 {
  border-radius: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

#triangle2 {
  width: 0;
  height: 0;
  border-top: 80px solid transparent;
  border-right: 160px solid #102542;
  border-bottom: 80px solid transparent;
  margin-right: 80px;
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));
}

.home-text {
  padding: 20px;
  font-weight: lighter;
  color: #FFFFFF;
  font-family: "Roboto", "sans-serif";
  align-items: center;
}

.center-text{
  text-align: center;
}


.post-text {
  color: black;
  font-family: "Roboto", "sans-serif";
  align-items: center;
  padding-bottom: 20px;
  padding-top: 2px;
.home-form-control {
  width: 500px;
  height: 55px;
  padding-left: 5px;
}

.padding-text {
  padding-left: 5px;
}
