#dashboard-card {
  width: 70%;
  background-color: #B3A394;
}

#personal-card {
  width: 70%;
  background-color: #B3A394;
}

.card h1 {
  padding-top: 45px;
}

#review-button {
  border-radius: 10px;
}

#review-button:hover {
  background-color: #F87060;
  transition: 0.5s;
}

#review-button:visited {
  border: none;
}

.modal-content {
  background-color: #B3A394;
  text-align: center;
}

.dashboard-info {
  padding-bottom: 8px;
}

.modal{
  border-radius: 20px;
}
.h1-topasdina{
  padding: 0;
}

