<div class="container-width">
  <h1 class="text-center">Available for rent</h1>
    <div class="grid-container d-flex justify-content-center align-items-center full-page">
      <div class="grid-item">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Name</h2><br>
            <h4 class="card-subtitle">Description</h4><br>
            <p class="card-text">Address</p>
            <p>Available</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <p>Space rated: X</p>
            <p>X€</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Name</h2><br>
            <h4 class="card-subtitle">Description</h4><br>
            <p class="card-text">Address</p>
            <p>Available</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <p>Space rated: X</p>
            <p>X€</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Name</h2><br>
            <h4 class="card-subtitle">Description</h4><br>
            <p class="card-text">Address</p>
            <p>Available</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <p>Space rated: X</p>
            <p>X€</p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
