<%# button %>
<button class="buttonx">Button</button>

<button class="buttonx2">Button</button>

<button class="buttonx3">Button</button>
<%# banner %>

<div class="headerx">
  <h1>Header</h1>
  <p>Sample text</p>
</div>

<div class="headerx2">
  <h1>Header</h1>
  <p>Sample text</p>
</div>

<div class="headerx3">
  <h1>Header</h1>
  <p>Sample text</p>
</div>

<%# card %>

<div class="cardx">
  <div class="card-container">
    <div class="property-image"><img src="https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg"></div>
    <div class="d-flex justify-content-between">
      <div>
        <h1>Property name</h1>
        <h2>Property price</h2>
        <h3>Property rating</h3>
      </div>
    <div class="user-avatar align-content-center"><img src="https://www.allthetests.com/quiz22/picture/pic_1171831236_1.png?1592828498" alt=""></div>
    </div>
  </div>
</div>





<%# navbar %>
