.check_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.back-button {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  border: 1px solid black;
}

#new-space > input {
  border-radius: 15px 50px 30px 5px;
}
