<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= simple_form_for [@booking, @review], url: booking_reviews_path(booking), method: "POST" do |f|  %>
          <div class="form-group">
            <%= f.text_area :comment, placeholder: "Write your review here..." %>
            <%= f.input :rating, collection: (1..10).to_a, label: "Rate your experience" %>
          <%= f.submit "Leave" %>
          <% end %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
<!--
<div>dsadsa</div>-->
