<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= simple_form_for [@booking, @review], url: booking_reviews_path(booking), method: "POST" do |f|  %>
          <div class="form-group">
            <%= f.text_area :comment, style: "width:90%; border-radius:15px", class: "p-2", placeholder: "Write your review here..." %>
            <%= f.input :rating, collection: (1..10).to_a, label: "Rate your experience" %>
          <%= f.submit "Leave", class: "card-button btn btn-primary align-items-center", style: "  margin: 0 auto" %>
          <% end %>
          </div>
      </div>

    </div>
  </div>
</div>
