<div  class="container">
  <div  class="grid-home">
    <h1 class="banner-h1">CHANGE THE WORK SPACE AND THE ALBUM OF MUSIC!</h1>
    <div class="big1"></div>
    <div class="m2"></div>
    <div class="b1g2"></div>
    <div class="m4"></div>
    <div class="f3">    <h1 class="banner-h1">CHANGE THE WORK SPACE AND THE ALBUM OF MUSIC!</h1>
    </div>
    <div class="d43v"></div>
  </div>
  <div class="fb23">
    <div class="fb1"></div>
    <div class="fb2">
      <div id="triangle"></div>
    </div>
  </div>
  <div class="fb23">
    <div class="fb3">
      <div id="triangle2"></div></div>
    <div class="fb1">
    </div>
  </div>
</div>
