.avatar {
    width: 40px;
    border-radius: 50%;
  }
  .avatar-large {
    width: 160px;
    border-radius: 50%;
  }
  .avatar-bordered {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
  .avatar-square {
    width: 40px;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
  .bars-1to10{
    background: rgb(238,129,71) !important;
    background: linear-gradient(90deg, rgba(238,129,71,1) 0%, rgba(144,224,0,1) 100%) !important;
  }
  .br-theme-bars-1to10 .br-widget a.br-active[data-rating-value="1"],
  .br-theme-bars-1to10 .br-widget a.br-selected[data-rating-value="1"] {
      background-color: #f6ede0;
  }
  .br-theme-bars-1to10 .br-widget a.br-active[data-rating-value="2"],
  .br-theme-bars-1to10 .br-widget a.br-selected[data-rating-value="2"] {
      background-color: #f8e4c5;
  }
  .br-theme-bars-1to10 .br-widget a.br-active[data-rating-value="3"],
  .br-theme-bars-1to10 .br-widget a.br-selected[data-rating-value="3"] {
      background-color: #f2cd95;
  }
  .br-theme-bars-1to10 .br-widget a.br-active[data-rating-value="4"],
  .br-theme-bars-1to10 .br-widget a.br-selected[data-rating-value="4"] {
      background-color: #f3ba62;
  }
  .br-theme-bars-1to10 .br-widget a.br-active[data-rating-value="5"],
  .br-theme-bars-1to10 .br-widget a.br-selected[data-rating-value="5"] {
      background-color: #f3980e;
  }

  .h1-topiasna{
    padding: 0;
  }
